*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    position: fixed;   
  top: 0;            
  left: 0;
  width: 100%;
  background: blue;
  z-index: 1000;
}

.title{
    font-size: 1.5rem;
    line-height: 60px;
}

.navbar-links{
    height: 100%;
}

.navbar-links ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li{
    padding: 0 10px;
}

.navbar-links a{
    color: white;
    text-decoration: none;
    font-size: 1em;
    line-height: 60px;
    display: block;
}
.navbar-links a:hover{
    background-color: #444;
}

.toggle-button{
    position: absolute;
    top:15px;
    right: 20px;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
  
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.home {
  background: red;
}

.about {
  background: lightblue;
}

.services {
  background: lightgreen;
}

.contact {
  background: orange;
}


@media(max-width:768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button{
        display: flex;
    }
    .navbar-links{
        width:100%;
        max-height: 0;
       
        overflow: hidden;
        opacity:0;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links a{
        padding:10px;
        line-height:20px;
    }

    .navbar.active .navbar-links{
        max-height: 300px;
        opacity: 1;
           transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
    }

   .navbar.active .toggle-button .bar:nth-child(2){
    opacity: 0;
   }

   .navbar.active .toggle-button .bar:nth-child(1){

    transform: translateY(8px) rotate(45deg);
   }
    .navbar.active .toggle-button .bar:nth-child(3){

    transform: translateY(-8px) rotate(-45deg);
   }
    
   
}